.container {
  display: grid;
  grid-template-areas:
    'header'
    'main';

  row-gap: 40px;
}

.head {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fef7f3;
  height: 250px;
}

.title {
  box-sizing: border-box;
  color: #9b0600;
  font-family: ICARubrik-Bold;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.3;
  margin: 18px 0;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    'header'
    'image'
    'preamble'
    'text'
    'author'
    'buttons';
  row-gap: 16px;
  padding: 16px;
}

.image {
  grid-area: image;
}

.createdAt {
  font-size: 16px;
}

.content,
.preamble {
  font-size: 18px;
  color: #3a3a3a;
  letter-spacing: 0.34px;
  line-height: 24px;
}

.preambleContainer {
  grid-area: preamble;

  display: grid;
  row-gap: 8px;
}

.content {
  display: grid;
  grid-area: text;
}

.buttons {
  grid-area: buttons;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto 1fr;
}

.authorContainer {
  display: grid;
  grid-area: author;
  row-gap: 8px;
  font-size: 16px;
}

@media (min-width: 600px) {
  .buttons {
    margin-top: 40px;
  }

  .main {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    grid-template-areas:
      'image  preamble'
      'text text'
      'author author'
      'buttons buttons';

    column-gap: 16px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
